.input {
  border: 1px solid #dadada;
  width: 100%;
  height: 40px;
  color: #545454;
  font-size: 14px;
  font-family: poppins-regular, sans-serif;
  letter-spacing: -0.41px;
  padding: 8px 15px;
}
