*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: poppins-regular, sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}
