*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: poppins-regular, sans-serif;
  color: #000;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1200px;
}

img {
  max-width: 100%;
}
