extends layout.pug
include ../components/button/button.pug
include ../components/input/input.pug

block head
  link(rel="stylesheet", href="contact-us.scss")

block main
  section.contact-us
    .container
      h1 Contact us
      p We are here to help and answer any question you might have. Fill out the form and we will be in touch as soon as possible.

      form
        +input("text", "name", "Name")
        +input("email", "email", "Email Address")

        textarea(name="message", cols="30", rows="10", placeholder="Message")
        +button("Send", "submit")
