.main-header {
  background-color: #fff;
  padding: 18px 0;

  & :is(.menu-btn, .cart-btn) {
    border: none;
    background-color: transparent;
  }

  .main-header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 24px;
      letter-spacing: -0.41px;
    }
  }
}
