header.main-header
  .container
    .main-header-wrapper
      button.menu-btn
        svg(width="25px", height="13px")
          use(href="../assets/svg/burger.svg#burger")
      a.logo(href="/") Muláí
      button.cart-btn
        svg(width="25px", height="25px")
          use(href="../assets/svg/cart.svg#cart")
