.main-footer {
  background-color: #fbfbfb;
  padding: 14px 0 33px;

  .accordeons {
    margin-bottom: 30px;

    .accordeon {
      border-bottom: 1px solid #979797;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 9px;

      &:not(:last-child) {
        margin-bottom: 14px;
      }

      span {
        font-size: 12px;
        text-transform: uppercase;
        color: #545454;
      }

      .plus-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: transparent;
        padding: 5px;
      }
    }
  }

  .stay-in-touch {
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 15px;
    display: block;
    text-align: center;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
  }

  .copyright {
    display: block;
    font-size: 10px;
    text-align: center;
  }
}
