include ../accordion/accordion.pug

- var links = [
- { href: "shipping.pug", text: "Shipping & Delivery" },
- { href: "return-exchange.pug", text: "Returns & Exchanges" },
- { href: "faq.pug", text: "FAQ" }
- ];

footer.main-footer
  .container
    .accordeons
      +accordion("Customer Services", links)
      +accordion("Help & Support", links)
    span.stay-in-touch Stay in touch
    .social-icons
      a(href="#")
        svg(width="15px", height="15px")
          use(href="../assets/svg/instagram.svg#instagram")
      a(href="#")
        svg(width="15px", height="15px")
          use(href="../assets/svg/facebook.svg#facebook")
    span.copyright
      span &copy; 2023 Muláí
