footer.main-footer
  .container
    .accordeons
      .accordeon
        span Customer Services
        button.plus-btn
          svg(width="10px", height="10px")
            use(href="../assets/svg/plus.svg#plus")
      .accordeon
        span Help &amp; Support
        button.plus-btn
          svg(width="10px", height="10px")
            use(href="../assets/svg/plus.svg#plus")
    span.stay-in-touch Stay in touch
    .social-icons
      a(href="#")
        svg(width="15px", height="15px")
          use(href="../assets/svg/instagram.svg#instagram")
      a(href="#")
        svg(width="15px", height="15px")
          use(href="../assets/svg/facebook.svg#facebook")
    span.copyright
      span &copy; 2023 Muláí
